{% extends 'dashboardbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% block title %} As Sallam Aleiykum {% endblock %}

{% include 'dashboardheader.html' %}

{% load humanize %}


<div id="page-contents">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-12">

        <!-- About
        ================================================= -->
        <div class="about-profile">
          <div class="about-content-block">
            <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Your Subscription Information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur</p>
           
            <a href="#"><button class="btn-primary">Upgrade Your Subscription</button></a>
            <br/>
        </div>
          <div class="about-content-block">

            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Subscription Plan</h4>
            <div class="organization">
              
              <div class="work-info">
                <h5>{{ subscription.plan.name }}</h5> 
                
              </div>
            </div>


            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Subscription Description</h4>
            <div class="organization">
              
              <div class="work-info">
                <h5>{{ subscription.plan.description }}</h5> 
                
              </div>
            </div>

            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Subscription Starting Date</h4>
            <div class="organization">
              
              <div class="work-info">
                <h5>{{ subscription.start_time|date:"M d, Y"  }}</h5> 
                
              </div>
            </div>



            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Subscription Price</h4>
            <div class="organization">
              
              <div class="work-info">
                <h5>₦{{ subscription.plan.price|intcomma  }}</h5> 
                
              </div>
            </div>

            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Subscription Ending Date</h4>
            <div class="organization">
              
              <div class="work-info">
                <h5>{{ subscription.end_time|naturaltime  }}</h5> 
                
              </div>
            </div>


            
            
          </div>
         
         
         
         

        </div>
      </div>
     
    </div>
  </div>
</div>
</div>


{% endblock content %}